<template>
  <div class="hello">
    <ul>
      <li v-for="m in messages">
        {{m}}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  props: {
    msg: String
  },
  data: function () {
    return {
      messages: []
    }
  },
  beforeMount() {
    var vm = this;
    var socket = new WebSocket("ws://localhost:8765");
    socket.onopen = function() {
      console.log("Соединение установлено.");
    };

    socket.onclose = function(event) {
      if (event.wasClean) {
        console.log("Соединение закрыто чисто");
      } else {
        console.log("Обрыв соединения"); // например, "убит" процесс сервера
      }
      console.log("Код: " + event.code + " причина: " + event.reason);
    };

    socket.onmessage = function(event) {
      console.log("Получены данные " + event.data);
      vm.$data.messages.push(event.data);
    };

    socket.onerror = function(error) {
      console.log("Ошибка " + error.message);
    };
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
